In [1]:
import numpy as np

In [2]:
heights = np.array([160, 155, 172, 165, 180, 158, 175, 163, 171, 168])

In [3]:
#Calculate the mean, median and standard deviation of the students heights
mean = np.mean(heights)
median = np.median(heights)
std_dev = np.std(heights)
print("Mean: ",mean,"\nMedian: ",median,"\nStandard deviation:",std_dev)

Mean:  166.7
Median:  166.5
Standard deviation: 7.5372408744845085

In [6]:
heights_normalized = (heights-mean)/std_dev

In [9]:
#Determine the tallest and shortest student in the class
tallest = np.argmax(heights)
shortest = np.argmin(heights)
print("The tallest is student: ",tallest,"\nThe shortest is student: ",shortest)

The tallest is student:  4
The shortest is student:  1

In [10]:
#calculate the difference between the tallest and the shortest students heights
difference_heights = np.max(heights)-np.min(heights)
print("The difference in heights is: ",difference_heights)

The difference in heights is:  25

In [11]:
#Randomly select 5 heights from the dataset without replacement
randomly_selected = np.random.choice(heights,5,replace=False)
randomly_selected

array([163, 180, 165, 172, 175])